.keepers {
   color: $color-primary;
   min-height: 80rem;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 25rem;

   @include responsive(large) {
      margin: 0 18rem;
   }

   @include responsive(medium-large) {
      flex-direction: column;
      margin-bottom: 10rem;
   }

   @include responsive(small-medium){
      margin: 15rem 12rem;
      height: auto;
   }
   @include responsive(extra-small){
      margin: 15rem 7rem;
      height: auto;
   }
   
   &__header {
      text-align: center;
      flex: 1;
      transform: translateX(-100rem);
      opacity: 0;
      transition: transform 1.2s ease-in-out, opacity 1s 0.5s ease-in-out;

      @include responsive(medium-large) {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
      
      }

      @include responsive(small-medium){
         margin-bottom: 10rem;
      }
   
   }

   &__title {
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 3rem;
   }

   &__subtitle {
      line-height: 3rem;
   }

   &__images {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      overflow: hidden;
      @include responsive(small-medium){
         width: 100%;
         height: 100%;
      }
   }

   &__image {
      width: 62rem;
      height: 50rem;
      border-radius: 0.8rem;
      overflow: hidden;
      border-radius: 0.8rem;
      transform: translateX(100rem);
      opacity: 0;
      transition: transform 1.2s ease-in-out, opacity 1s 0.5s ease-in-out;

      @include responsive(medium) {
         width: 100%;
         height: 100%;
      }
      @include responsive(small-medium){
         height: 70rem;
      }

      & img {
         object-fit: cover;
         transition: transform 0.5s ease;
         border-radius: 0.8rem;
         @include responsive(small-medium){
            width: 100%;
            height: 100%;
            position: absolute;
         }

         &:hover {
            transform: scale(1.2);
         }
      }
   }
}

.moveIn {
   transform: translateX(0);
   opacity: 1;
}
